<div>
    <input type="checkbox" checked="vm.status" ng-model="vm.status">
    <span>{{vm.title}}</span>
    <span>{{vm.date}}</span>
    <span>{{vm.desc}}</span>
</div>






<!--<tr>-->
    <!--<td><input type="checkbox" value="vm.status" ng-model="vm.status"></td>-->
    <!--<td>{{vm.title}}</td>-->
    <!--<td>{{vm.date}}</td>-->
    <!--<td>{{vm.desc}}</td>-->
    <!--<td><input type="button" ng-click="vm.edit()" value="Edit"></td>-->
    <!--<td><input type="button" ng-click="vm.delete()" value="Delete"></td>-->
<!--</tr>-->