<div ng-controller="TodoController as vm">

    <add-todo></add-todo>

    <div class="todoList">
        <div class="preDate complete">
            <p>PreDate Complete</p>
            <input ng-model = "vm.preCompleteFilter">
            <table>
                <tr ng-repeat="complete in vm.pre.complete | filter : {title: vm.preCompleteFilter}">
                    <td><a ui-sref="todo({'taskId': complete.id})" href="">{{complete.title}}</a></td>
                    <td><input type="button" ng-click="vm.edit('pre','complete',complete.id)" value = "Edit"></td>
                    <td><input type="button" ng-click="vm.delete('pre','complete',complete.id)" value = "Delete"></td>
                </tr>
            </table>
        </div>

        <div class="preDate incomplete">
            <p>PreDate InComplete</p>
            <input ng-model = "vm.preIncompleteFilter">
            <table>
                <tr ng-repeat="incomplete in vm.pre.incomplete | filter: {title:vm.preIncompleteFilter} ">
                    <td><a ui-sref="todo({taskId: incomplete.id})" href="">{{incomplete.title}}</a></td>
                    <td><input type="button" ng-click="vm.edit('pre','incomplete',incomplete.id)" value = "Edit"></td>
                    <td><input type="button" ng-click="vm.delete('pre','incomplete',incomplete.id)" value = "Delete"></td>
                </tr>
            </table>
        </div>

        <div class="postDate complete">
            <p>PostDate Complete</p>
            <input ng-model = "vm.postCompleteFilter">
            <table>
                <tr ng-repeat="complete in vm.post.complete | filter: {title: vm.postCompleteFilter}">
                    <td><a ui-sref="todo({taskId: complete.id})" href="">{{complete.title}}</a></td>
                    <td><input type="button" ng-click="vm.edit('post','complete',complete.id)" value = "Edit"></td>
                    <td><input type="button" ng-click="vm.delete('post','complete',complete.id)" value = "Delete"></td>
                </tr>
            </table>
        </div>

        <div class="postDate incomplete">
            <p>PostDate InComplete</p>
            <input ng-model = "vm.postIncompleteFilter">
            <table>
                <tr ng-repeat="incomplete in vm.post.incomplete | filter: {title: postIncompleteFilter} ">
                    <td><a ui-sref="todo({taskId: incomplete.id})" href="">{{incomplete.title}}</a></td>
                    <td><input type="button" ng-click="vm.edit('post','incomplete',incomplete.id)" value = "Edit"></td>
                    <td><input type="button" ng-click="vm.delete('post','incomplete',incomplete.id)" value = "Delete"></td>
                </tr>
            </table>
        </div>
    </div>
</div>