<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title class="title">Login Form</h4>
            </div>
            <form class="modal-body">
                <input type="text" placeholder="Username" ng-model="vm.username">
                <input type="password" placeholder="Password" ng-model="vm.password">
                <input type="button" class="btn btn-default" value="SignIn" ng-click="vm.authenticate()" data-dismiss="modal">
            </form>
        </div>

    </div>
</div>