<div class="login signUp" ng-controller="SignUpController as vm">
    <h3>Create an account</h3>

    <form ng-submit="vm.create()">
        <input type="text" placeholder="Name" ng-model="vm.name" required>
        <input type="date" ng-model="vm.dob">
        <input type="email" placeholder="abc@gmail.com" ng-model="vm.email">
        <input type="password" placeholder="Password" ng-model="vm.pwd">
        <input type="submit" value="Create Account" class="createBtn">
        <input type="button" value="SignIn" ng-click="vm.signIn()" class="signButton">
    </form>
    <span ng-show="vm.error" class="error">Please Enter value(s) in all Field!!!!</span>
</div>