<div class="todoContainer">

    {{todo | json}}
    shdgsdhs shdfhdshf fhsd fsdjkfhujsdf sdjkfhksdnf sdhjfb
    <!--<div>{{$index+1}}</div>-->
    <!--<div><input type="checkbox" ng-model="todo.status" ng-init="todo.status"></div>-->
    <!--<div>{{todo.title}}</div>-->
    <!--<div>{{todo.date}}</div>-->
    <!--<div>{{todo.desc}}</div>-->
    <!--<div ng-if = "authentic === false" colspan="2">Actions</div>-->
    <!--<div ng-if = "authentic === true">-->
    <!--<span class="pull-right glyphicon glyphicon-pencil" ng-click="vm.editTodo(todo.id)"></span>-->
    <!--</div>-->
    <!--<div ng-if = "authentic === true">-->
    <!--<span class="pull-right glyphicon glyphicon-trash" ng-click="vm.deleteTodo(userId,type)"></span>-->
    <!--</div>-->
</div>