<div class="profile-container">
    <div>
        <img src="/build/profile.jpg" alt="User Profile Image"
             class="img-circle img-thumbnail profilepic">
    </div>

    <div class="detail">
        <p>Name: <span>{{profile.user}}</span></p>
        <p>Competency:<span>{{profile.competency}}</span></p>
        <p>Date Of Birth:<span>{{profile.dob}}</span></p>

        <div ng-if = "authentic === true" class="editbutton">
            <span class="pull-right glyphicon glyphicon-pencil"></span>
        </div>
    </div>
</div>